{% extends 'main/base.html'%}
{% load static %}
{% block title %} My Request List {% endblock %}

{% block content %}
    <div class="flex justify-between">
        <div class="mt-6 px-6 bg-white rounded-xl gap-3" style="float: left; width: 80%;">
            <div class="mt-6 px-6 py-6 bg-gray-100 rounded-xl">
                <h2 class="mb-3 text-2xl text-center">All Requests</h2>
                <div class="mt-6 px-6 py-3 bg-white rounded-xl">
                    {% for request in request_list %}
                    <div class="rounded-xl border border-gray-200 p-2 flex justify-between">    
                        <div class="px-8" style="float: left; width:60%">
                            <h3 class="text-gray-500 px-3"><strong>Requested Book: </strong>{{ request.requested_book }}</h3>
                            <h3 class="text-gray-500 px-3"><strong>Requested User: </strong>{{ request.requested_book.owner_user_id }}</h3>
                            {% if request.requested_book.owner_user_id == user %}
                            <button class="mt-3 px-4 py-3 text-lg font-semibold bg-green-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-600 hover:text-white">
                                <a href="{% url 'trades:selectother' request.offering_book.owner_user_id.id %}">Visit {{ request.offering_book.owner_user_id }}'s Bookshelf</a>
                            </button>
                            <button type="submit" name="decline" class="mt-3 px-4 py-3 text-lg font-semibold bg-red-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-600 hover:text-white">Decline Trade</button>
                            {% endif %}
                            <h3 class="text-gray-500 px-3"><strong>Offering Book: </strong>{{ request.offering_book }}</h3>
                            <h3 class="text-gray-500 px-3"><strong>Offering User: </strong>{{ request.offering_book.owner_user_id }}</h3>
                            <h3 class="text-gray-500 px-3"><strong>Option: </strong>{{ request.option }}</h3>
                            <h3 class="text-gray-500 px-3"><strong>Created At: </strong>{{ request.created_at }}</h3>
                            <h3 class="text-gray-500 px-3"><h3><strong>Closed At: </strong>{{ request.closed_at }}</h3>
                            <h3 class="text-gray-500 px-3"><h3><strong>Status: </strong>{{ request.status }}</h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="mt-6 px-6 py-6 bg-white rounded-xl">
                    <div class="flex justify-between">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% else %}
                            <span class="opacity-50 cursor-not-allowed">previous</span>
                        {% endif %}
            
                        <div class="text-gray-500">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>
            
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                        {% else %}
                            <span class="opacity-50 cursor-not-allowed">next</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}