<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>

        <title>{% block title %}{% endblock %} | Book Trader </title>
    </head>

    <body>
        <nav class="px-6 flex justify-between item-center border-b border-gray-300">
            <a href="/" class="mt-1 text-xl font-semibold" style="float: left; width: 60%;"><img src="{% static 'main/images/logo.jpg'%}" width="100%" class="rounded-t-xl" style="padding-left: 1%;"></a>
            <div class="class= px-6 py-6 bg-white rounded-xl gap-3 border border-gray-200" style="float: right; width: 40%;">
                {% if request.user.is_authenticated%}
                    <h3 class="py-3 font-semibold text-gray-600">Welcome Back, {{user.username}} !</h3> 
                    <div class="flex justify-between gap-3 text-center">
                        <div class=" px-1 py-3 text-lg font-semibold bg-green-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-500 hover:text-white" style="float: right; width: 32%;">
                            <a href="{% url 'bookshelf:index' %}" >My Bookshelf</a></div>
                        <div class="px-1 py-3 text-lg font-semibold bg-lime-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-500 hover:text-white" style="float: right; width: 32%;">
                            <a href="{% url 'trades:requests' user.id %}" >Trades / Offers</a></div>
                        <div class="px-1 py-3 text-lg font-semibold bg-red-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-500 hover:text-white" style="float: right; width: 32%;">
                            <a href="{% url 'account:logout' %}" >Log Out</a></div>
                    </div>
                {% else %}
                    <h3 class="py-3 font-semibold text-gray-600" style="float: right;">Welcome! Please:</h3> 
                    <div class="flex justify-between gap-3 text-center" style="float: right;">
                        <div class="px-4 py-3 text-lg font-semibold bg-green-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-500 hover:text-white" style="width:150px">
                            <a href="{% url 'account:signup' %}" >Sign Up</a></div>
                        <div class="px-6 py-3 text-lg font-semibold bg-lime-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-600 hover:text-white" style="width:150px">
                            <a href="{% url 'account:login' %}" >Log In</a></div>
                    </div>
                {% endif %}
            </div>
        </nav>

        <header class="px-6 py-20 masthead border border-gray-200" style="background-image: url('{% static 'main/images/books_header.jpg'%}'); margin-bottom: 3px;"></header>

        <div class="px-6 py-6">
            {% block content %}
            {% endblock %}
        </div>
        
        <footer class="px-6 py-3 masthead border border-gray-200" style="background-image: url('{% static 'main/images/footer.jpg'%}'); margin-bottom: 3px;">
            <div class="py-6 text-lg text-white text-center">
                <a href="/about" class="px-12">About</a>
                <a href="/terms" class="px-12">Term of use</a>
            </div>
        </footer>
    </body>
</html>