{% extends 'main/base.html'%}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
    <div class="flex justify-between">
        <div class="mt-6 px-6 bg-white rounded-xl gap-3" style="float: left; width: 80%;">
            <div class="mt-6 px-6 py-6 bg-gray-100 rounded-xl">
                <h2 class="mb-3 text-2xl text-center">All Books</h2>
                
                <div class="flex gap-6 text-gray-500 px-3">
                    <p><strong>Sort By:</strong> </p>
                    <a href="?sort=-added_at" id="new_sort" data-sort="added_at">Newest ⬇️</a>
                    <a href="?sort=title" id="title_sort" data-sort="title">Title ⬇️</a>
                    <a href="?sort=author" id="author_sort" data-sort="author">Author ⬇️</a>
                </div>
            
                <div class="mt-6 px-6 py-3 bg-white rounded-xl">
                    {% for book in page_obj %}
                    <div class="rounded-xl border border-gray-200 p-2">
                        <table>
                            <tr>
                                <td style="float: left;">
                                    {% if book.image %}
                                        <a href="{% url 'book:detail' book.id %}"><img src="{{ book.image.url }}" width="230" height="300" class="rounded-t-xl" style="padding-right: 50px;"></a>
                                    {% else %}
                                        <a href="{% url 'book:detail' book.id %}"><img src="{% static 'main/images/default_image_book.jpg' %}" width="230" height="300" class="rounded-t-xl" style="padding-right: 50px;"></a>
                                    {% endif %}
                                </td>
                                <td class="py-6">
                                    <h2 class="text-gray-800 text-2xl py-3">{{ book.title }}</h2>
                                    <h3 class="text-gray-500 px-3"><strong>Author: </strong>{{ book.author }}</h3>
                                    <h3 class="text-gray-500 px-3"><strong>Language: </strong>{{ book.language }}</h3>
                                    <h3 class="text-gray-500 px-3"><strong>Age Group: </strong>{{ book.age_group }}</h3>
                                    <h3 class="text-gray-500 px-3"><strong>Genre: </strong>{{ book.genre }}</h3>
                                    <h3 class="text-gray-500 px-3"><strong>Description: </strong>{{ book.description }}</h3>
                                </td>
                                <tb class="gap-3 mt-3 px-4 py-3 text-center text-lg text-grey-400 font-semibold" style="float: right; width: 20%">
                                    {% if request.user.is_authenticated%}
                                        {% if request.user == book.owner_user_id %}
                                            <div><a href="{% url 'book:detail' book.id %}" class="mt-3 gap-3 px-4 py-3 text-lg font-semibold bg-green-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-500 hover:text-white" style="float: right; width: 100%">Details...</a></div>
                                            <div><a href="{% url 'book:edit' book.id %}" class="mt-3 gap-3 px-4 py-3 text-lg font-semibold bg-lime-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-500 hover:text-white" style="float: right; width:100%">Edit Book</a></div>
                                            <div><a href="{% url 'book:delete' book.id %}" class="mt-3 gap-3 px-4 py-3 text-lg font-semibold bg-red-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-500 hover:text-white" style="float: right; width:100%">Delete!</a></div>
                                        {% else %}
                                            <div><a href="#" class="mt-3 gap-3 px-4 py-3 text-lg font-semibold bg-red-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-500 hover:text-white" style="float: right; width:100%">Send Offer</a></div>
                                            <div><a href="{% url 'book:detail' book.id %}" class="mt-3 gap-3 px-4 py-3 text-lg font-semibold bg-blue-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-500 hover:text-white" style="float: right; width:100%">Details...</a></div>
                                        {% endif %}
                                    {% else %}
                                        <div><a href="{% url 'book:detail' book.id %}" class=" px-4 py-3 text-lg font-semibold bg-blue-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-600 hover:text-white" style="float: right; width:100%">Details...</a></div>
                                    {% endif %}
                                </tb>
                            </tr>
                        </table>
                    </div>    
                    {% endfor %}
                </div>

                <div class="mt-6 px-6 py-6 bg-white rounded-xl">
                    <div class="flex justify-between">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% else %}
                            <span class="opacity-50 cursor-not-allowed">previous</span>
                        {% endif %}

                        <div class="text-gray-500">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                        {% else %}
                            <span class="opacity-50 cursor-not-allowed">next</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-12 px-6 py-3 bg-grey rounded-xl gap-3 border border-gray-200" style="float: left; width: 20%;">
            
            <div>
                <form method="GET" >
                    <p class="mt-3 block text-gray-700 font-bold mb-2">Enter zipcode to search local</p>
                    <input type="text" name="z" class=" mt-4 rounded-l-lg py-2 px-4 border border-gray-400" style="width: 100%" placeholder="Zip Code">
                    <button type="submit" class=" mt-4 px-5 py-3 text-lg font-semibold bg-green-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-600 hover:text-white "style="float: right; width:150px">Find Local</button>
                </form> 
            </div>
            <br><br><br><br>
            <div>
                <form method="GET" >
                    <p class="mt-3 block text-gray-700 font-bold mb-2">Search by category</p>                    
                    <input type="text" name="q" class=" mt-4 rounded-l-lg py-2 px-4 border border-gray-400" style="width: 100%" placeholder="Search...">

                        <div class="mt-2 px-6">
                            <input type="radio" id="title" name="category" value="title" checked>
                            <label for="title">Title</label>
                        </div>
                        <div class="mt-2 px-6">
                            <input type="radio" id="author" name="category" value="author">
                            <label for="author">Author</label>
                        </div>
                        <div class="mt-2 px-6">
                            <input type="radio" id="language" name="category" value="language">
                            <label for="language">Language</label>
                        </div>
                        <div class="mt-2 px-6">
                            <input type="radio" id="genre" name="category" value="genre">
                            <label for="genre">Genre</label>
                        </div>
                        <div class="mt-2 px-6">
                            <input type="radio" id="isbn" name="category" value="isbn">
                            <label for="isbn">ISBN</label>
                        </div>
                        <button type="submit" class="mt-2 gap-8 px-8 py-3 text-lg font-semibold bg-green-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-600 hover:text-white" style="float: right; width:150px">Search</button>
                </form>
            </div>
            <br><br><br><br>
            <div>
                <form method="get">
                    <div class="mb-4">
                        <label for="age_group" class="block text-gray-700 font-bold mb-2">Choose By Age Group:</label>
                        <select name="age_group" id="age_group" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option value="">All</option>
                            {% for ag in age_group %}
                            <option value="{{ ag.id }}" {% if age_group_filter == ag.id %}selected{% endif %}>{{ ag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="mt-2 gap-8 px-8 py-3 text-lg font-semibold bg-green-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-600 hover:text-white" style="float: right; width:150px">Find</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}