{% extends 'main/base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{ book.image.url }}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl text-green-700">{{ book.title }} written by {{ book.author }}</h1>
        <h2 class="text-gray-500"><strong>Traider: </strong>{{ book.owner_user_id.username }}</h2>
    
        {% if book.description %}
        <p class="text-gray-700">
            <strong class="text-gray-500">Description:</strong><br>
            {{ book.description }}
        </p>
        {% endif %}

        {% if book.isbn %}
            <p class="text-gray-700">
                <strong class="text-gray-500">ISBN:</strong><br>
                {{ book.isbn }}
            </p>
        {% endif %}

        {% if request.user == book.owner_user_id%}
            <div class="mt-6 p-6 bg-white rounded-xl">
                <p>This is your book!</p>

                <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-lime-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-600 hover:text-white">Edit</a>
                <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-600 hover:text-white">Delete</a>
            </div>
        {% else %}  
            <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Trade for this book</a>
        {% endif %}
    </div>
</div>
{% endblock %}