{% extends 'main/base.html' %}

{% block title%}{{ title }}{%endblock%}

{% block content %}
<h1 class="mb-6 text-3xl">{{ title }}</h1>

<form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}

    <div class="space-y-4">
        <div class="mb-4">
            {{ form.title }}
        </div>
        <div class="mb-4">
            {{ form.author }}
        </div>
        <div class="mb-4">
            {{ form.genre }}
        </div>
        <div class="mb-4">
            {{ form.language }}
        </div>
        <div class="mb-4">
            {{ form.isbn }}
        </div>
        <div class="mb-4">
            {{ form.age_group }}
        </div>
        <div class="mb-4">
            {{ form.description }}
        </div>
        <div class="mb-4">
            {{ form.image }}
        </div>
    </div>

    {% if form.errors or form.non_field_errors %}
        <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}

            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <button class="mt-3 px-4 py-3 text-lg font-semibold bg-green-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-600 hover:text-white ">Submit</button>
</form>
{% endblock %}
