{% extends 'main/base.html'%}

{% block title %} My Bookshelf {% endblock %}

{% block content %}
    <div class="flex justify-between">
        <div class="mt-6 px-6 bg-white rounded-xl gap-3" style="float: left; width: 80%;">
            <div class="mt-6 px-6 py-6 bg-gray-100 rounded-xl">
                <h2 class="mb-12 text-2xl text-center">My Books:</h2>
            
                <div class="mt-6 px-6 py-3 bg-white rounded-xl gap-3">
                    {% for book in page_obj %}
                    <div class="rounded-xl border border-gray-200 p-2">
                        <table>
                            <tr>
                                <td style="float: left;">
                                    <a href="{% url 'book:detail' book.id %}"><img src="{{ book.image.url }}" width="230" height="300" class="rounded-t-xl" style="padding-right: 50px;"></a>
                                </td>
                                <td class="py-6">
                                    <h2 class="text-2xl text-center">{{ book.title }}</h2>
                                    <h3 class="text-gray-500 px-3">Author: {{ book.author }}</h3>
                                    <h3 class="text-gray-500 px-3">Language: {{ book.language }} for Age: {{ book.age_group }}</h3>
                                    <h3 class="text-gray-500 px-3">Genre: {{ book.genre }}</h3>
                                    <h3 class="text-gray-500 px-3">Description: {{ book.description }}</h3>
                                </td>
                                <tb class="gap-3 text-center" style="float: right;">
                                    <div class="gap-3 py-6 mt-6"><a href="{% url 'book:detail' book.id %}" class=" px-4 py-3 text-lg font-semibold bg-green-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-500 hover:text-white" style="float: right; width:150px">Details...</a></div>
                                    <div class="gap-3 py-6 mt-6"><a href="{% url 'book:edit' book.id %}" class=" px-4 py-3 text-lg font-semibold bg-lime-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-500 hover:text-white" style="float: right; width:150px">Edit Book</a></div>
                                    <div class="gap-3 py-6 mt-6"><a href="{% url 'book:delete' book.id %}" class=" px-4 py-3 text-lg font-semibold bg-red-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-500 hover:text-white" style="float: right; width:150px">Delete!</a></div>
                                </tb>
                            </tr>
                        </table>
                    </div>    
                    {% endfor %}
                </div>

                <div class="mt-6 px-6 py-6 bg-white rounded-xl">
                    <div class="flex justify-between">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% else %}
                            <span class="opacity-50 cursor-not-allowed">previous</span>
                        {% endif %}

                        <div class="text-gray-500">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                        {% else %}
                            <span class="opacity-50 cursor-not-allowed">next</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-12 px-6 py-3 bg-white rounded-xl gap-3 border border-gray-200" style="float: left; width: 20%;">
            <div class="mt-6 px-4 py-3 text-lg font-semibold text-center bg-blue-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-500 hover:text-white"><a href="{% url 'book:new' %}">Add Book</a></div>
            <div class="mt-6 px-4 py-3 text-lg font-semibold text-center bg-blue-200 text-grey-400 rounded-xl border-b border-gray-300 hover:bg-gray-500 hover:text-white"><a href="/">Back To Main</a></div>
        </div>

    </div>
{% endblock %}